<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-responsive-webview"
    version="1.0.0">
    <name>Keyboard</name>
    <description>Cordova Responsive WebView</description>
    <license>Apache 2.0</license>
    <keywords>cordova, responsive webview</keywords>
    <repo>https://github.com/baidan4855/cordova-plugin-responsive-webview.git</repo>
    <issue>https://github.com/baidan4855/cordova-plugin-responsive-webview/issues</issue>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Keyboard">
        <param name="android-package" value="cn.com.ihealthlabs.cordova.plugins.ResponsiveWebView" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/ResponsiveWebView.java" target-dir="src/cn/com/ihealthlabs/cordova/plugins" />
  </platform>

</plugin>
